<div class="thumbnail">
  <div class="blog-container-responsive row-space-2">
    <div class="blog-content">
      <div class="panel-body">
        <div class="row">
<%= simple_form_for(@trip) do |f| %>
  <%= render 'shared/trip_error_messages' %>

  <%= f.label :country_code, "Country" %>
  <%= f.country_select :country_code, selected: "US" %>

  <%= f.text_field :place, placeholder: "Place", class: 'form-control' %>

  <%= f.text_area :description, placeholder: "Description", class: 'form-control' %>

  <%= f.label :date_from, "From" %>
  <%= f.date_select :date_from,
                    :start_year => Date.today.year %>

  <%= f.label :date_to, "To" %>
  <%= f.date_select :date_to,
                    :start_year => Date.today.year %>

  <%= f.file_field :photo, as: :file, class: 'form-control' %>
  <% if f.object.photo? %>
    <%= image_tag f.object.photo.url %>
  <% end %>

  <%= f.submit "Create trip", class: "btn btn-primary" %>

<% end %>
</div>
</div>
</div>
</div>
</div>
