<div class="container">
	<% cur = User.find_by(uuid: @trip.user_uuid) %>

	<script src="js/navbarVolunteer.js"></script>
	<div class="container target">
		<h1 class="pull-left">
			<br>
			by <%= @trip.user_name %>
			<br>
			<small>created <%= time_ago_in_words(@trip.created_at) + " ago" %></small>
			<% if @trip.created_at != @trip.updated_at %>
				<small>updated <%= time_ago_in_words(@trip.updated_at) + " ago" %></small>
			<% end %>
			<br>
			<br>				
		</h1>
		<br>
		<div>
            <% if cur.avatar? %>
              <a class="pull-right"><img title="profile image" class="img-circle img-responsive"<%= image_tag cur.avatar.thumb.url %></a>
            <% else %>
              <a class="pull-right"><img title="profile image" class="img-circle img-responsive"<%= gravatar_for cur %></a>
            <% end %>
        </div>  
    </div>

    <div class="container">	
    	<h1>
    	Trip to <%= @trip.place %>
		in <%= @trip.country %>
		<small>
			<br>
	        from <%= @trip.date_from.to_time.strftime('%B %e, %Y') %>
	        to <%= @trip.date_to.to_time.strftime('%B %e, %Y') %>
	    </small>
		</h1>
    </div>	
		
	<div class="container">	
		<div class="blog">	
			<p>
			 	<%= @trip.description %>
			</p>
			<% if @trip.photo? %>
              <%= image_tag @trip.photo.medium.url class: "img=thumbnail" %>
            <% end %>
		</div>

		<div class="meta">
	      <%= link_to "Back to all trips", trips_path %> |
	      <%= link_to "Back to my profile", current_user %>
	      <% if cur.admin? || cur == current_user %>
	      	| <%= link_to "Edit", edit_trip_path(@trip) %> 
	      <% end %>
	    </div>
	</div>
</div>
