<div class="container">
	<% cur = User.find_by(uuid: @trip.user_uuid) %>

	<script src="js/navbarVolunteer.js"></script>
	<div class="container target">
		<br>
		<br>
		<h1 class="pull-left">
	    	<i class="fa fa-suitcase"></i> Trip to <%= @trip.place %>
			in <%= @trip.country %>
			<small>
				<br>
		        from <%= @trip.date_from.to_time.strftime('%B %e, %Y') %>
		        to <%= @trip.date_to.to_time.strftime('%B %e, %Y') %>
		    </small>						
		</h1>
		<br>
		<div>
            <% if cur.avatar? %>
              	<a class="pull-right"><img title="profile image" class="img-circle img-responsive"<%= image_tag cur.avatar.thumb.url %></a>
              	<div class="pull-right">
               		
            			by <strong><%= link_to cur.full_name, cur %></strong>
						<br>
						posted <%= time_ago_in_words(@trip.created_at) + " ago" %>
						<% if @trip.created_at != @trip.updated_at %>
							<br>
							edited <%= time_ago_in_words(@trip.updated_at) + " ago" %>
						<% end %>
					
				</div>	
            <% else %>
              	<a class="pull-right"><img title="profile image" class="img-circle img-responsive"<%= gravatar_for cur %></a>
               	<div class="pull-right">
               		
            			by <strong><%= link_to cur.full_name, cur %></strong>
						<br>
						posted <%= time_ago_in_words(@trip.created_at) + " ago" %>
						<% if @trip.created_at != @trip.updated_at %>
							<br>
							edited <%= time_ago_in_words(@trip.updated_at) + " ago" %>
						<% end %>
					
				</div>
            <% end %>
        </div>      
    </div>	

	<br>

	<div class="row" >
		<aside class="col-md-2"></aside>
		<div class="col-md-8">
			<div class="thumbnail">
				<div class="container-fluid">	

					<div class="blog">	
						<p><%= @trip.description %></p>
						<% if @trip.photo? %>
							<br>
			                <%= image_tag @trip.photo.medium.url class: "img=thumbnail" %>
			              	<br>
			              	<br>
			            <% end %>
					</div>

				    <div class="meta">
						<small>
						    <%= link_to current_user do %><span class="glyphicon glyphicon-user"></span> Back to my profile <% end %> |
						    <%= link_to trips_path do %><span class="glyphicon glyphicon-plane"></span> Back to all trips <% end %> 
						    <% if cur.admin? || cur == current_user %> 
						      	| <%= link_to edit_trip_path(@trip) do %><span class="glyphicon glyphicon-pencil"></span> Edit <% end %>
						      	| <%= link_to @trip, method: :delete, data: { confirm: 'Are you sure you want to delete this trip' } do %><span class="glyphicon glyphicon-trash"></span> Delete <% end %>
						    <% end %>   
						</small>
					</div>

				</div>
			</div>
		</div>
	</div>
	
</div>
