<div class="thumbnail">
	<strong><%= link_to blog.user_name, User.find(blog.user_uuid) %> </strong>
	<% if blog.title? %>
		<h3 align="center"><%= link_to blog.title, blog%></h3>
	<% end %>
	<% if blog.photo? %>
				    <th><%= link_to image_tag(blog.photo.medium.url), blog %></th>
				<% end %>
	<p><%= blog.content %></p>
	<div class="text-center">
		<!--table>
	        <colgroup>
				<!% if blog.photo2? %>
				    <th><%= link_to image_tag(blog.photo2.thumb.url), blog %></th>
				<!% end %>
				<!% if blog.photo3? %>
				    <th><%= link_to image_tag(blog.photo3.thumb.url), blog %></th>
				<!% end %>
			</colgroup>
		</table-->
	</div>

	<div class="meta">
		<small>
		<p><a class="text-muted link-reset"><%= link_to " Posted " + time_ago_in_words(blog.created_at) + " ago", blog %></a>
		<% if current_user.admin? || current_user.uuid == blog.user_uuid %>
			| <%= link_to edit_blog_path(blog) do %><span class="glyphicon glyphicon-pencil"></span> Edit <% end %>
			| <%= link_to blog, method: :delete, data: { confirm: 'Are you sure you want to delete this blog entry?' } do %><span class="glyphicon glyphicon-trash"></span> Delete <% end %>
		<% end %>
		| <%= link_to blog do %><span class="glyphicon glyphicon-comment"></span> <%= blog.count_comments.to_i %> Comments <% end %>
		</small>
	</div>
</div>