<div class="container">
  <%= simple_form_for(@blog, html: { class: 'form-horizontal', multipart: true }) do |f| %>
    <% if @blog.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@blog.errors.count, "error") %> prohibited this blog from being saved:</h2>

        <ul>
        <% @blog.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

  
    
    <!--%= f.input :email, collection: User.all, label_mathod: full_name %-->
    <%= f.input :content, as: :text, input_html: { rows: "10", class: 'input-xlarge'} %>
    <%= f.fields_for :asset do |attachment_fields|%>
    <%= attachment_fields.input :asset, as: :file %>

    <% end %>



    <div class="form-actions">
      <button><%= f.button :submit, class: "btn btn-primary btn-active" %></button>
      <%= link_to "Show", @blog, class: 'btn btn-default' %> 
      <%= link_to "Back", blogs_path, class: 'btn btn-default' %>
    </div>
  <% end %>
</div>