
  <%= simple_form_for(@blog) do |f| %>
    <% if @blog.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@blog.errors.count, "error") %> prohibited this blog from being saved:</h2>

        <ul>
          <% @blog.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
    <div class="form-group">
      <%= f.text_area :content, placeholder: "What's on your mind?", rows: "2", class: 'form-control' %>
      <div class="row">
        <div class="col-md-8">
          <p>
            <%= f.file_field :photo, as: :file, class: 'form-control' %>
          </p>

          <% if f.object.photo? %>
            <p>
            <%= image_tag f.object.photo.url %>
            </p>
          <% end %>
        </div>
        <div class="col-md-4">
          <%= f.submit "Post", class: "btn btn-primary" %> 
        </div>
      </div>
    </div>  
  <% end %>
