<% provide(:title, "Edit Post") %>
<div class="container">
  <h1>Edit Post</h1>

	<div class="row">
      <div class="col-md-6 col-md-offset-3">

      <%= simple_form_for(@blog, html: { class: 'form-horizontal' }) do |f| %>
	    <% if @blog.errors.any? %>
	      <div id="error_explanation">
	        <h2><%= pluralize(@blog.errors.count, "error") %> prohibited this blog from being saved:</h2>

	        <ul>
	          <% @blog.errors.full_messages.each do |message| %>
	          <li><%= message %></li>
	        <% end %>
	        </ul>
	      </div>
	    <% end %>

		<%= f.text_area :content, { rows: "15", class: 'input-xlarge'} %>
        <%= f.file_field :photo, as: :file %>

		<% if @blog.photo? %>
			<p>
			<%= image_tag @blog.photo.medium.url %>
        	</p>
	        <br />
	        <%= f.label :remove_photo %>
	        <%= f.check_box :remove_photo %>   
		<% end %>


		<div class="form-actions">
			<button type="button"><%= f.submit "Edit my post", class: "btn btn-success " %></button>
	      	<%= link_to "Show My Post", @blog, class: 'btn btn-info' %> 
	      	<%= link_to "Back To All Posts", blogs_path, class: 'btn btn-info' %>
	      	<%= link_to "Back To My Profile", current_user, class: 'btn btn-info' %>
	      	<a href="#" class="btn btn-info btn-large"><i class="glyphicon glyphicon-trash"></i> Delete </a>    
	    <% end %>
	 	</div>
	</div>
</div>