<div class="container">
	<p id="notice"><%= notice %></p>
	<% cur = User.find_by(email: @blog.user_email) %>

	<script src="js/navbarVolunteer.js"></script>
	<div class="row">
    	<div class="col-sm-8">
      		<h1 class="pull-left"> &nbsp <%= @blog.user_name %> 
      		<br>
			<% if @blog.created_at != @blog.updated_at %>
				<small> edited <%= time_ago_in_words(@blog.updated_at) + " ago" %></small>
			<% else %>
				<small> created <%= time_ago_in_words(@blog.created_at) + " ago" %></small>
			<% end %></h1>
      		<div class="row">
      		<div class="col-sm-10"> 
		        <% if cur != current_user %> 
		          <% if @rel_user_followed_by_current_user %> 
		            <%= link_to "Remove from Favorites", "#", class: "btn btn-success text-center remove-favorite", "follower-id" => current_user.uuid, "following-id" => cur.uuid %>
		          <% else %>
		            <%= link_to "Add to Favorites", "#", class: "btn btn-primary text-center add-favorite", "follower-id" => current_user.uuid, "following-id" => cur.uuid %>
		          <% end %>
		          <div class="col-sm-1"></div>
		          <%= link_to "Open Chat", "#", class: "btn btn-info text-center start-conversation",
		                    "data-sid" => current_user.uuid, "data-rip" => cur.uuid %> 
		        <% else %>
		        	<br>
		        	<br>
		        <% end %>
		 	</div>
		</div>
      	<br>
    </div>
    <br>
    <% if cur.avatar? %>
      <a class="pull-right"><img title="profile image" class="img-circle img-responsive"<%= image_tag cur.avatar.thumb.url %></a>
    <% else %>
      <a class="pull-right"><img title="profile image" class="img-circle img-responsive"<%= gravatar_for cur %></a>
    <% end %>
    </div>

	<div class="row" >
		<aside class="col-md-2"></aside>
		<div class="col-md-8">
			<div class="thumbnail">
				<div class="container-fluid">
					<div class="blog">
						
						<h3 align="center"><%= @blog.title %></h3>
						

						<p align="center">
							<% if @blog.photo? %>
						    	<%= image_tag @blog.photo.url, class: "img=thumbnail" %>
						    <% end %>

						    <div class="col-md-5">
						    <p><%= @blog.content %></p>
						</div>

						    <p align="center">
						    <% if @blog.photo2? %>
						    	<%= image_tag @blog.photo2.medium.url, class: "img=thumbnail" %>
						    <% end %>
						    <% if @blog.photo3? %>
						    	<%= image_tag @blog.photo3.medium.url, class: "img=thumbnail" %>
						    <% end %>
							</p>

						    <% if @carrierwave_images %>
								<br>
								<% @carrierwave_images.each do |c| %>
									<%= image_tag @carrierwave_image.asset.medium.url, class: "img=thumbnail" %>
						    	<% end %>
						    <% end %>

						</p>
					</div> 

					<div class="meta">
						<small>
					    <%= link_to blogs_path do %><span class="glyphicon glyphicon-plane"></span> Back to Travel Blog <% end %> |
					      <%= link_to current_user do %><span class="glyphicon glyphicon-user"></span> Back to My Profile <% end %> |
					    <% if cur.admin? || cur == current_user %> 
					      	<%= link_to edit_blog_path(@blog) do %><span class="glyphicon glyphicon-pencil"></span> Edit <% end %>
					    <% end %>
					    | <%= link_to @blog do %><span class="glyphicon glyphicon-comment"></span> <%= @blog.count_comments.to_i %> Comments <% end %>
						</small>
				    </div>
					
				    <br>

					<div class="well">
					    <div class="blog-container-responsive row-space-2">
					        <div class="blog-content">
					            <div class="panel-body">
						            <div class="row">
						              	<div class="col-sm-3 text-center row-space-2"> 
							                <a class="media-photo media-round row-space-1 text-center"> <img class="lazy" style-"display: inline;" >
							                <% if current_user.avatar? %>
								      			<img title="profile image" class="img-circle img-responsive"<%= image_tag current_user.avatar.small.url %></a>
								    		<% else %>
								      			<img title="profile image" class="img-circle img-responsive"<%= image_tag current_user.gravatar_url %></a>
								    		<% end %>

							               
							                <div class="name">
								                <a class="text-muted link-reset">
								                <p><strong><%= link_to current_user.first_name, current_user %></strong></p>
								            	</a>
						                	</div>
						            	</div>
							            <div class="col-sm-9">
							                <div class="row-space-2">
							                  	<div class="expandable-content">
													<%= form_for (@new_comment) do |f| %>
														<%= f.hidden_field :bid, :value => @blog.uuid %>
														<%= f.text_area :comment, as: :text, input_html: { rows: "1" }, placeholder: "Share your thoughts" %>
														<%= f.file_field :photo, as: :file %>
														<p><%= f.submit "Add Comment", class: "btn btn-success" %></p>
													<% end %>
												</div>
											</div>
										</div> <!-- create a comment-->
									</div>
								</div>
							</div>
						</div>
					</div> <!--container comment gray add comment-->
				</div>
				<% if @comments %>
					<br>
					<% @comments.each do |c| %>
					<% cur_com = User.find_by(uuid: c.user_uuid) %>
					<div class="row">
						<div class="col-sm-3 text-center row-space-2"> 
						<% if cur_com.avatar? %></a>
				  			<a class="media-photo media-round row-space-1 text-center"> <img class="lazy" style-"display: inline;"><img title="profile image" class="img-circle img-responsive"<%= image_tag cur_com.avatar.small.url %>
						<% else %>
				  			<a class="media-photo media-round row-space-1 text-center"> <img class="lazy" style-"display: inline;"><img title="profile image" class="img-circle img-responsive"<%= image_tag cur_com.gravatar_url %></a>
						<% end %>
					</div>
					
					<div class="col-sm-9">
						<div class="row-space-2">
							<strong><%= link_to c.user_name, cur_com %> </strong>
							<p class="comment_comment"><%= c.comment %></p>
						    <% if c.photo? %>
						    	<a class="text-center"><%= image_tag c.photo.medium.url %></a>
						    	<br>
						    	<br>
						    <% end %>
							<small>
							<p class="text-muted"><%= " Posted " + time_ago_in_words(c.created_at) + " ago" %>
							<% if cur_com.admin? || cur_com == current_user %>
								| <%= link_to c, method: :delete, data: { confirm: 'Are you sure you want to delete this comment?' } do %><span class="glyphicon glyphicon-trash"></span> Delete <% end %>
							</p>
			                <% end %>
			            	</small>
						</div>
					</div>
				</div>
				<hr>
			<% end %> 
			<br>
			<br>
			<% end %>
		</div> <!--container comment white-->	
	</div>
</div>
			






