<% provide(:title, 'Who has recently viewed your profile?') %>
<div class="container">
	<br>
	<br>
	<h1><i class="fa fa-users"></i> Who has recently viewed your profile?</h1>
	
	<div class="row">
	    <aside class="col-md-2">
	    </aside>
	    <div class="col-md-8" >
	    	<% if !@visitors.any? %>
	    		<div align="center">No user viewed your profile. <%= link_to "Introduce yourself on the Travel Blog!", travelblog_path %></div>
	    	<% else %>
		    	<%= link_to "Introduce yourself on the Travel Blog now!", travelblog_path %>
				<%= will_paginate @visitors %>
			
				<br>
				<br>
				<br>

	    		<%= render @visitors %>
	    		<%= will_paginate @visitors %>
	    	<% end %>
		</div>
	</div>

</div>