<%= form_for(@user) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.label :fname, "First name" %>
  <%= f.text_field :fname %>

  <%= f.label :lname, "Last name" %>
  <%= f.text_field :lname %>

  <%= f.label :email, "Email address" %>
  <%= f.email_field :email %>

  <%= f.label :dob, "Date of birth" %>
  <%= f.date_select :dob %>

  <%= f.label :gender %>
  <div class="row" id="gender radio buttons">
      <%= f.radio_button :gender, 'female' %> 
      <%= label :gender, 'Female' %>
      <%= f.radio_button :gender, 'male' %>
      <%= label :gender, 'Male' %>
  </div>  
  <%= f.label :password %>
  <%= f.password_field :password %>

  <%= f.label :password_confirmation, "Re-enter password" %>
  <%= f.password_field :password_confirmation %>

  <%= f.submit "Create my account", class: "btn btn-primary" %>

<% end %>
