<%= form_for(@user) do |f| %>
  <%= render 'shared/error_messages' %>

  <%= f.label :first_name %>
  <%= f.text_field :first_name %>

  <%= f.label :last_name %>
  <%= f.text_field :last_name %>

  <%= f.label :email, "Email address" %>
  <%= f.email_field :email %>

  <%= f.label :date_of_birth, "Year of birth" %>
  <%= f.date_select :date_of_birth,
                    :start_year => Date.today.year - 120,
                    :end_year => Date.today.year %>

  <%= f.label :gender %>
  <div class="row" >
      <td> 
        <%= f.radio_button :gender, 'female' %> Female
        <%= f.radio_button :gender, 'male' %> Male
      </td>
  </div> 
   
  <%= f.label :password %>
  <%= f.password_field :password %>

  <%= f.label :password_confirmation, "Re-enter password" %>
  <%= f.password_field :password_confirmation %>

  <%= f.submit "Create my account", class: "btn btn-primary" %>

<% end %>