<%= form_for(@user) do |f| %>
  <%= render 'shared/error_messages' %>

  <%= f.text_field :first_name, placeholder: "First name", class: 'form-control' %>

  <%= f.text_field :last_name, placeholder: "Last name", class: 'form-control' %>

  <%= f.email_field :email, placeholder: "Email address", class: 'form-control' %>
   
  <%= f.password_field :password, placeholder: "Password", class: 'form-control' %>

  <%= f.password_field :password_confirmation, placeholder: "Re-enter password", class: 'form-control' %>

  <!--%= f.file_field :avatar, placeholder: "Avatar" %-->

  <%= f.label :country_of_residence_code, "Country of residence" %>
  <%= f.country_select :country_of_residence_code, selected: "US" %>

  <%= f.label :date_of_birth %>
  <%= f.date_select :date_of_birth,
                    :start_year => Date.today.year - 120,
                    :end_year => Date.today.year %>

  <!--%= f.label :asset, placeholder: "Asset" %-->
                  
  <div>
    <label class="radio-inline">
      <%= f.radio_button :gender, 'female' %> Female
    </label>
    <label class="radio-inline">
      <%= f.radio_button :gender, 'male' %> Male 
    </label>
  </div>

  <br>

  <%= f.submit "Create my account", class: "btn btn-primary" %>

<% end %>