<% provide(:title, "My Blog" ) %>
<div class="container">
  <br>
  <br>
  <h1><i class="fa fa-pencil-square-o"></i> My Blog</h1>
  <br>

  <div class="row">
    <aside class="col-md-4"> 
      <div class="thumbnail">
        <div class="blog-container-responsive row-space-2">
          <div class="blog-content">
            <div class="panel-body"> 
              <%= render 'blogs/form' %>
            </div>
          </div>
        </div>
      </div>
    </aside>
    <div class="col-md-8">
      <% if @user_blog.nil? %>
        You have not posted any blog entriess. |
        <%= link_to "Go to Travel Blog", travelblog_path %>
      <% elsif @user_blog.any? %>
        <ul class="posts">
          <%= render @user_blog %>
        </ul>
        <%= will_paginate @user_blog %>
      <% else %>
        You have not posted any blog entriess. |
        <%= link_to "Go to Travel Blog", travelblog_path %>
      <% end %>
    </div>
  </div>
</div>