<% provide(:title, "My trips" ) %>
<div class="container">
  <br>
  <br>
  <h1>My trips</h1>
  <br>
  
  <div class="row">
    <aside class="col-md-4"> 
      <div class="thumbnail">
        <div class="blog-container-responsive row-space-2">
          <div class="blog-content">
            <div class="panel-body">             
              <%= render 'trips/form' %>    
            </div>
          </div>
        </div>
      </div>
    </aside>
    <div class="col-md-8">
      <% if @user_trips.nil? %>
        You have not posted any trips. |
        <%= link_to "View all trips", alltrips_path %>
      <% elsif @user_trips.any? %>
        <ul class="posts">
          <%= render @user_trips %>
        </ul>
        <%= will_paginate @user_trips %>
      <% else %>
        You have not posted any trips. |
        <%= link_to "View all trips", alltrips_path %>
      <% end %>
    </div>
  </div>
</div>




