<% provide(:title, @user.email) %>
<div class="container">
  <p id="notice"><%= notice %></p>
  <% if @user %>
    <%= puts "USER VISIBLE HERE" %>
  <% else %>
    <%= puts "USER NOT VISIBLE HERE" %>
  <% end %>


<script src="js/navbarVolunteer.js"></script>
<!--hr class=""-->
<div class="container target">
  <div class="row">
        <div class="col-sm-8">
          <h1 class="pull-left"> &nbsp <%= @user.first_name %> <%= @user.last_name %> </h1>
          <div class="col-sm-8">  
            <button type="button" class="btn btn-success">Connect</button> <button type="button" class="btn btn-info">Send me a message</button>
          </div>
<br>
        </div>
      <div class="col-sm-3 img-padding"><a href="/users" class="pull-right"><img title="profile image" class="img-circle img-responsive" <%= gravatar_for @user %> </a>
      </div>
  </div>
<br>
    <div class="row">
        <div class="col-sm-3">
            <!--left col-->
            <ul class="list-group">
                <li class="list-group-item text-muted" contenteditable="false">Profile</li>
                <li class="list-group-item text-right"><span class="pull-left"><strong class="">Joined</strong></span> 2.13.2014</li>
                <li class="list-group-item text-right"><span class="pull-left"><strong class="">Last seen</strong></span> Today </li>
                    <li class="list-group-item text-right"><span class="pull-left"><strong class="">Location</strong></span>New York, New York</li>

            </ul>
            <div class="panel panel-default">
             <div class="panel-heading">Available Days To Travel

                </div>
                <div class="panel-body"><i style="color:green" class="fa fa-check-square"></i> August 1st-September 15th, 2015

                </div>
            </div>
          
            <ul class="list-group">
                <li class="list-group-item text-muted">Activity <i class="fa fa-dashboard fa-1x"></i>

                </li>
                <li class="list-group-item text-right"><span class="pull-left"><strong class="">Recommendations</strong></span> 175</li>
                <li class="list-group-item text-right"><span class="pull-left"><strong class="">Connections</strong></span> 500</li>
                    <li class="list-group-item text-right"><span class="pull-left"><strong class="">Trips</strong></span> 50</li>
                        <li class="list-group-item text-right"><span class="pull-left"><strong class="">Followers</strong></span> 250</li>
            </ul>
            
        </div>
        <!--/col-3-->
        <div class="col-sm-9" style="" contenteditable="false">
            <div class="panel panel-default">
                <div class="panel-heading">About me</div>
                <div class="panel-body"> 
                    <table>
                        <tr>
                            <th>Date of birth: </th>
                            <td><%= @user.date_of_birth %></td>
                        </tr>
                        <tr>
                            <th>Email: </th>
                            <td><%= @user.email %></td>
                        </tr>
                        <tr>
                            <th>Gender: </th>
                            <td><%= @user.gender %></td>
                        </tr>
                        <tr>
                            <th>City, Country: </th>
                            <td>New York, New York</td>
                        </tr>
                        <tr>
                            <th>Nationality: </th>
                            <td>American</td>
                        </tr>
                        <tr>
                            <th>Spoken languages: </th>
                            <td>English, Spanish, French</td>
                        </tr>
                        <tr>
                            <th>Hobby: </th>
                            <td>Singing</td>
                        </tr>
                        <tr>
                            <th>Looking for: </th>
                            <td>Friends, Advanture, Soulmate</td>
                        </tr>
                        <tr>
                            <th>I want to visit: </th>
                            <td>Brazil, Costa Rica, Australia</td>
                        </tr>
                    </table>
                    <!--h2>Lady Gaga's Bio</h2-->
                    <p> </p>
                    <p>Stefani Joanne Angelina Germanotta was born on March 28, 1986 in Yonkers, New York, to Cynthia and Joseph Germanotta. Germanotta, now known as Lady Gaga (she has attributed the inspiration for her name to the Queen song "Radio Ga-Ga"), went on to become an international pop star.
          Gaga learned to play the piano by the age of 4. At the age of 11, she was accepted to the Juilliard School in Manhattan, but instead attended a private Catholic school in the city. She continued studying music and performing, writing her first piano ballad at the age of 13, and she held her first performance in a New York nightclub at the age of 14.
          A few years later, Gaga was granted early admission to New York University's Tisch School of the Arts—she was one of only 20 students in the world to receive the honor of early acceptance. While there, she studied music and worked on her songwriting skills. She later withdrew from school to find creative inspiration. To make ends meet, she took three jobs, including a stint as a gogo dancer, while she honed her performance-art act.</p>
                </div>
            </div>
            <div class="panel panel-default target">
                <div class="panel-heading" contenteditable="false">Recent Trips</div>
                <div class="panel-body">
                    <div class="row">
        <div class="col-md-4">
          <div class="thumbnail">
            <img alt="300x200" src="http://www.amenaviajes.com/wp-content/uploads/2013/11/aruba-cisnes-300x200.jpg">
            <div class="caption">
              <h3>
                Aruba
              </h3>
              <p>
                May 1th-15th, 2015
              </p>
              <p>
              
              </p>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="thumbnail">
            <img alt="300x200" src="http://qiito.com/img/cache/thumbs/48e94c36a30439fae216439c90e3bf5c.jpg">
            <div class="caption">
              <h3>
                Thailand
              </h3>
              <p>
                February 5th-13th, 2015
              </p>
              <p>
              
              </p>
            </div>
          </div>
        </div>
                      
        <div class="col-md-4">
          <div class="thumbnail">
            <img alt="300x200" src="http://static.fly.co.uk/img/seocms/fly.co.uk/paris/cheap-flights-to-paris.jpg">
            <div class="caption">
              <h3>
                France, Paris
              </h3>
              <p>
                December 23rd - 29th, 2014
              </p>
              <p>
              
              </p>
            </div>
                </div>    
            </div>         
            </div>           
        </div>             
    </div>
    </div>
            <div id="push"></div>
        </div>
        

  <p>
    <strong>Password hash:</strong>
    <%= @user.password_hash %>
  </p>

  <p>
    <strong>Remember hash:</strong>
    <%= @user.remember_hash %>
  </p>