<% provide(:title, 'Whom you have recently viewed?') %>
<div class="container">
	<br>
	<br>
	<h1>Whom you have recently viewed?</h1>
	
	<div class="row">
	    <aside class="col-md-2">
	    </aside>
	    <div class="col-md-8" >
	    	<% if !@viewed_users.any? %>
	    		<div align="center">You haven't viewed any users yet. <%= link_to "Browse Travel Match users!", users_path %></div>
	    	<% else %>
		    	<%= link_to "Browse Travel Match users now!", users_path %>
				<%= will_paginate @viewed_users %>
			
				<br>
				<br>
				<br>

	    		<%= render @viewed_users %>
	    		<%= will_paginate @viewed_users %>
	    	<% end %>
		</div>
	</div>
	
</div>