<% provide(:title, "Find your Travel Match") %>
<div class="container">
	<br>
	<br>
	<h1><i class="fa fa-plane"></i> Find your Travel Match</h1>
	<br>
	
	<div class="row">
	  <div class="col-md-6 col-md-offset-3">
	  	<div class="thumbnail">
	        <div class="blog-container-responsive row-space-2">
	          <div class="blog-content">
	            <div class="panel-body">

				    <%= form_for(:match, url: mymatches_path) do |f| %>

					<div> 
					  <div class="checkbox-inline">
						<%= check_box_tag(:check_box_country_of_residence_code_match) %>
						<%= label_tag(:check_box_country_of_residence_code_match, "Country your Travel Match lives in") %>
					  </div>
					  <%= f.country_select :country_of_residence_code_match, selected: "US" %>
					</div>
					<div> 
					  <div class="checkbox-inline">
						<%= check_box_tag(:check_box_country_visited_codes_match) %>
						<%= label_tag(:check_box_country_visited_codes_match, "Countries your Travel Match visited") %>
					  </div>
					  <%= f.text_area :country_visited_codes_match, class: 'form-control' %>
					  <%=  %>
					</div>
					<div> 
					  <div class="checkbox-inline">
						<%= check_box_tag(:check_box_country_to_visit_codes_match) %>
						<%= label_tag(:check_box_country_to_visit_codes_match, "Countries your Travel Match wants to visit") %>
					  </div>
					  <%= f.text_area :country_to_visit_codes_match, class: 'form-control' %>
					</div>
					<div> 
					  <div class="checkbox-inline">
						<%= check_box_tag(:check_box_age_match) %>
						<%= label_tag(:check_box_age_match, "Age of your Travel Match") %>
					  </div>
					  <div class ="inline">
						from<%= number_field_tag(:age_from_match, in: 18..100, step: 1) %>
						to<%= number_field_tag(:age_to_match, in: 18..100, step: 1) %>
					  </div>
					</div>
					<div> 
					  <div class="checkbox-inline">
						<%= check_box_tag(:check_box_gender_match) %>
						<%= label_tag(:check_box_gender_match, "Gender of your Travel Match") %>
					  </div>
					  <div>
						<label class="radio-inline">
						  <%= radio_button_tag(:gender_match, 'female') %> Female
						</label>
						<label class="radio-inline">
						  <%= radio_button_tag(:gender_match, 'male') %> Male 
						</label>
					  </div>
					</div>
						<br />
					    <%= f.submit "Search", class: "btn btn-primary" %>
				    <% end %>

	    		</div>
	          </div>
	        </div>
	      </div>
	  </div>
	</div>
</div>