<% provide(:title, 'Your favorite users') %>
<div class="container">
	<br>
	<br>
	<h1>Your favorite users </h1>
		
	<div class="row">
	    <aside class="col-md-2">
	    </aside>
	    <div class="col-md-8" >
	    	<% if !@followings.any? %>
	    		<div align="center">You have no favorite users. <%= link_to "Find people similar to you!", default_path %></div>
	    	<% else %>
		    	<%= link_to "Find people similar to you now!", default_path %>
				<%= will_paginate @followings %>
			
				<br>
				<br>
				<br>

	    		<%= render @followings %>
	    		<%= will_paginate @followings %>
	    	<% end %>
		</div>
	</div>
	
</div>