<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <%= link_to root_path, id: "logo" do %><img src="<%= asset_path('TM_HanziPen_H_mini_black.jpeg') %>">
    <% end %>
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <% if logged_in? %>
          <li><%= link_to blogs_path do %><i class="fa fa-pencil-square-o"></i> Travel Blog<% end %></li>
          <li><%= link_to messages_path do %><i class="fa fa-commenting"></i> Chat<% end %></li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              <i class="fa fa-suitcase"></i> Trips <b class="caret"></b>
            </a>
            <ul class="dropdown-menu">
              <li><%= link_to "Plan", newtrip_path %></li>
              <li><%= link_to "Find", findtrip_path %></li>
              <li><%= link_to "View all", alltrips_path %></li>
            </ul>
          </li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              <i class="fa fa-users"></i> Users <b class="caret"></b>
            </a>
            <ul class="dropdown-menu">
              <li><%= link_to "Quick Travel Match", default_path %></li>
              <li><%= link_to "Recently viewed", yourviews_path %></li>
              <li><%= link_to "Viewed by", otherviews_path %></li>
              <li><%= link_to "Favorite", favorites_path %></li>
              <li><%= link_to "All users", users_path %></li>
            </ul>
          </li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              <span class="glyphicon glyphicon-home"></span> <b class="caret"></b>
            </a>
            <ul class="dropdown-menu">
              <li><%= link_to "Profile", current_user %></li>
              <!--li><%= link_to "Photos", carrierwave_images_path %></li-->
              <li><%= link_to "Travel Blog", myblog_path %></li>
              <li><%= link_to "Trips", mytrips_path %></li>
              <li><%= link_to "My Travel Match", mymatches_path %></li>
              <li><%= link_to "Settings", edit_user_path(current_user) %></li>
              <li class="divider"></li>
              <li>
                <%= link_to "Log out", logout_path, method: "delete" %>
              </li>
            </ul>
          </li>
        <% else %>
          <li><%= link_to root_path do %><span class="glyphicon glyphicon-home"></span> <% end %></li>
          <li><%= link_to "Log in", login_path %></li>
        <% end %>
      </ul>
    </nav>
  </div>
</header>

